<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready( function () {
            $('#studentTable').DataTable();
        });
    </script>

    <style>
        #register_form{
            width:300px;
            margin:auto;
            box-shadow:1px 1px 10px grey;
            padding:20px 10px 20px 10px;
        }

        input{
            margin-top:10px;
        }
    </style>
</head>
<body>

<div class="row" style="margin-top: 100px;">
    <div class="col-md-3">
        <form action="#" id="register_form" th:action="@{'/users/' + ${user.id} + '/update'}" th:object="${user}" method="post">
            <h1>Register form</h1>
            <input type="text" class="form-control" th:value="${user.getStudent_no()}" placeholder="Student no" th:field="*{student_no}">
            <input class="form-control" type="text" th:value="${user.getName()}" placeholder="Name" th:field="*{name}" />
            <input class="form-control" type="text" th:value="${user.getSurname()}" placeholder="Surname" th:field="*{surname}" />
            <input class="form-control" type="text" th:value="${user.getEmail()}" placeholder="Email" th:field="*{email}" />
            <input class="btn btn-success" type="submit" value="Submit" />
        </form>


    </div>

    <div class="col-md-9">

    </div>

</div>

</body>
</html>